@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 285 20% 95%;
    --foreground: 285 30% 15%;
    --card: 285 30% 98%;
    --card-foreground: 285 30% 15%;
    --popover: 285 30% 98%;
    --popover-foreground: 285 30% 15%;
    --primary: 285 55% 50%;
    --primary-foreground: 285 100% 98%;
    --secondary: 285 20% 88%;
    --secondary-foreground: 285 30% 15%;
    --muted: 285 20% 92%;
    --muted-foreground: 285 20% 40%;
    --accent: 45 90% 60%;
    --accent-foreground: 285 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 85%;
    --input: 285 20% 88%;
    --ring: 285 55% 50%;
    --radius: 0.8rem;
    --chart-1: 285 55% 50%;
    --chart-2: 45 90% 60%;
    --chart-3: 285 40% 30%;
    --chart-4: 45 70% 50%;
    --chart-5: 285 30% 60%;
  }

  .dark {
    --background: 285 15% 10%;
    --foreground: 285 10% 85%;
    --card: 285 15% 15%;
    --card-foreground: 285 10% 85%;
    --popover: 285 15% 15%;
    --popover-foreground: 285 10% 85%;
    --primary: 285 55% 60%;
    --primary-foreground: 285 100% 98%;
    --secondary: 285 10% 25%;
    --secondary-foreground: 285 10% 90%;
    --muted: 285 10% 25%;
    --muted-foreground: 285 10% 60%;
    --accent: 45 90% 60%;
    --accent-foreground: 45 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 10% 25%;
    --input: 285 10% 25%;
    --ring: 285 55% 60%;
    --chart-1: 285 55% 60%;
    --chart-2: 45 90% 60%;
    --chart-3: 285 50% 70%;
    --chart-4: 45 70% 80%;
    --chart-5: 285 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
